.appSmButtton {
  background: linear-gradient(
    194.68deg,
    rgba(158, 218, 209, 0.1) 11.27%,
    rgba(61, 179, 162, 0.1) 90.4%
  );
  border: 1.69697px solid #3db8a5;
  box-shadow: 0px 3.39394px 3.39394px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14.8485px);
  border-radius: 5.09091px;
  padding: 16px 38px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16.9697px;
  line-height: 23px;
  text-align: center;
  color: #3db8a5;
}
