.app-scroll-down-btn-wrapper {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    width: 200px;
    text-align: center;
}