@import "/src/style/variables";

.header-wrapper {
    z-index: 1;

    .ant-menu-light.ant-menu-horizontal {

        text-decoration: none !important;
        color: $white-color;

        .ant-menu-item-selected {
            color: $primary-color;
            text-decoration: none !important;

        }

        :hover {
            color: $primary-color;
        }

        ::after {
            display: none;
        }
    }
}