.banner-wrapper {
    // position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .banner-overlay {
        background: radial-gradient(310.48% 100% at 50% 0%, rgba(0, 0, 0, 0.53) 5.96%, rgba(29, 35, 52, 0.47) 89.85%, #08090A 99.66%) !important;
        height: 100%;
        background-repeat: no-repeat;
    }



    .mt-1 {
        margin-top: 1rem;
    }


    .mt-5 {
        margin-top: 5rem;
    }


}