@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primar-font: 'Bebas Neue', sans-serif;


$primary-bg: #080A0B;
$black-color: #000000;
$white-color: #ffffff;


// TODO: will improve the variables and common classes as well as should create theme for common components


// =======================================================
// ======================== FONTS ========================
// =======================================================
$fs-100: 100px;
$fs-55: 55px;
$fs-48: 48px;
$fs-40: 40px;
$fs-32: 32px;
$fs-30: 30px;
$fs-28: 28px;
$fs-26: 26px;
$fs-24: 24px;
$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-10: 10px;





// =============================================================
// ======================== Font Weight ========================
// =============================================================
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;



// =============================================================
// ======================== Line Heights =======================
// =============================================================
$line-height-16: 16px;
$line-height-17: 17px;
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-24: 24px;
$line-height-28: 28px;
$line-height-30: 30px;
$line-height-32: 32px;
$line-height-38: 38px;
$line-height-40: 40px;





// =============================================================
// =========================== Radius ==========================
// =============================================================

$border-radius-2: 2px;
$border-radius-4: 4px;
$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-9: 9px;
$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-14: 14px;