@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primar-font: 'Bebas Neue', sans-serif;


$primary-bg: #080A0B;
$white-color: #ffff;


// TODO: will improve the variables and common classes as well as should create theme for common components