@import "./variables";




// ======================== FONTS ========================
.primary-font {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}


// ======================== BG COLORS ========================



// ======================== COLORS ========================
.color-white {
    color: $white-color;
}



// ======================== COMMON CLASSES ========================

.nav-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-color;
    font-family: $secondary-font;
}







// ======================== FLEX ========================

.d-block {
    display: block;
}





// ======================== UTILITY ========================

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.mt-1 {
    margin-top: 1rem;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bg-none {
    background: none;
}

.w-100 {
    width: 100%;
}